<div class="row well">
    <div class="col-sm-6">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-147 -70 294 345">
            <use stroke-width="14.4" xlink:href="#body" stroke="#FFF"/>
            <use stroke-width="14.4" xlink:href="#head" stroke="#FFF"/>
            <def>
                <rect id="limb" rx="24" height="133" width="48" stroke-width="7.2" stroke="#FFF"/>
                <rect id="antenna" rx="6.5" height="86" width="13" stroke="#FFF" stroke-width="7.2"/>
            </def>
            <g fill="{{andriodcolor}}">
                <g avatar-part options="options.antenna" current="selection.antenna"></g>
                <g id="legs" avatar-part options="options.legs" current="selection.legs"></g>
                <g id="head">
                    <ellipse cy="41" rx="91" ry="84"/>
                </g>
                <g id="body">
                    <path d="M -91 49 h182 v130 a 22 22, 0, 0, 1, -22 22 h -138 a 22 22, 0, 0, 1, -22 -22 z" ></path>
                    <image x="-40" y="75" width="80" height="80" xlink:href="{{options.tshirt[selection.tshirt]}}" />
                </g>
                <g id="arms" avatar-part options="options.arms" current="selection.arms"></g>
                <g id="face" avatar-part options="options.face" current="selection.face"></g>
                <g stroke="#FFF" stroke-width="7.2" fill="#FFF">
                    <path d="m-95 44.5h190"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <h4>Antenna</h4>
            <div class="btn-group col-sm-12">
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.antenna == 0}" ng-click="selection.antenna = 0">Long</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.antenna == 1}" ng-click="selection.antenna = 1">Short</button>
            </div>
        </div>
        <div class="row">
            <h4>Face</h4>
            <div class="btn-group col-sm-12">
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.face == 0}" ng-click="selection.face = 0">Normal</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.face == 1}" ng-click="selection.face = 1">Wink</button>
            </div>
        </div>
        <div class="row">
            <h4>Arms</h4>
            <div class="btn-group col-sm-12">
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.arms == 0}" ng-click="selection.arms = 0">Alert</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.arms == 1}" ng-click="selection.arms = 1">Woop</button>
            </div>
        </div>
        <div class="row">
            <h4>Legs</h4>
            <div class="btn-group col-sm-12">
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.legs == 0}" ng-click="selection.legs = 0">Attention</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': selection.legs == 1}" ng-click="selection.legs = 1">Camp</button>
            </div>
        </div>
        <div class="row tshirt">
            <h4>Tshirt</h4>
            <div class="btn-group col-sm-12">
                <input type="image" class="btn btn-default" ng-class="{'btn-primary': selection.tshirt == 0}" ng-click="selection.tshirt = 0" src="assets/ubuntu.svg" />
                <input type="image" class="btn btn-default" ng-class="{'btn-primary': selection.tshirt == 1}" ng-click="selection.tshirt = 1" src="assets/linux.svg" />
                <input type="image" class="btn btn-default" ng-class="{'btn-primary': selection.tshirt == 2}" ng-click="selection.tshirt = 2" src="assets/starbucks.svg" />
            </div>
        </div>
        <div class="row">
            <h4>Andriod Color</h4>
            <div class="col-sm-12">
                <input type="color" name="andriodcolor" ng-model="andriodcolor">

            </div>
        </div>
    </div>
</div>

